body{
    background-color:azure;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    box-sizing: border-box;
    margin: auto;
}

.lista1{
    color: rgb(16, 110, 101);
    margin :0px;
    padding: 0px;
    
}

.lista2{
    color: rgb(16, 110, 101);
    margin :0px;
    padding: 0px;
    

}

.lista3{
    color: rgb(16, 110, 101);
    margin :10px;
    padding: 0px;
    

}

.h3{
    color: #333;
    margin :10px;
    padding: 0px;
    font-size: 25px;
}

.h2{
    color: #333;
    margin :10px;
    padding: 0px;
    font-size: 25px;
}

.h4{
    color: #333;
    margin :10px;
    padding: 0px;
   font-size: 25px;

}

.h5{
    color: #333;
    margin :10px;
    padding: 0px;
    font-size: 25px;
}

.primeiro-h1{
    color: #333;
    margin :10px;
    padding: 0px;
}


#minha-foto{
    color: #333;
    margin :10px;
    padding: 0px;
    font-size: 25px;
}

#link{
    color: rgb(122, 6, 6);
    margin :30px;
    margin-bottom: 10px;
    padding: 0px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;


}
#link:hover{
    color:orangered;
}
#link :visited{
    color: lawngreen;
}